<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white" href="/">CalEvent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link text-white"  %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link text-white"  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>