<div class="row mb-5 mt-5">
  <div class="col-lg-9 mx-lg-auto">
    <%= link_to 'List View', events_path, class:'btn btn-primary btn-lg mb-5' %>
    <%= link_to 'New Event', new_event_path, class:'btn btn-primary btn-lg mb-5' %>
    <div id="calendar"></div>
  </div>
</div>
