body {
  background-color: #fff;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #fff;
  text-align: center;
  background-color: blue;
  border-top: .05rem  solid #c780fe;
}
.blog-footer a {
  color: #fff;
  text-decoration: none;
}
.footer {
  display: block;
}