<div class="row mt-5 mb-5">
  <div class="col-lg-5 mx-lg-auto mt-5">
    <div class="card shadow border-0">
      <div class="card-body">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
